<?xml version="1.0" encoding="UTF-8"?>
<routes>
    <route>
        <method>POST</method>
        <pattern>^/api/account/register$</pattern>
        <controller>Account</controller>
        <action>register</action>
    </route>

    <route>
        <method>GET</method>
        <pattern>^/api/account/login$</pattern>
        <controller>Account</controller>
        <action>loginClient</action>
    </route>

    <route>
        <method>GET</method>
        <pattern>^/api/account/refresh/(\w)+$</pattern>
        <controller>Account</controller>
        <action>refreshClient</action>
    </route>

    <route>
        <method>GET</method>
        <pattern>^/api/account/admin/login$</pattern>
        <controller>Account</controller>
        <action>loginAdmin</action>
    </route>

    <route>
        <method>GET</method>
        <pattern>^/api/account/admin/refresh/(\w)+$</pattern>
        <controller>Account</controller>
        <action>refreshAdmin</action>
    </route>

    <route>
        <method>PUT</method>
        <pattern>^/api/account/roles/(\d)+$</pattern>
        <controller>Account</controller>
        <action>register</action>
    </route>

    <route>
        <method>PUT</method>
        <pattern>^/api/account/balance/(\d)+$</pattern>
        <controller>Account</controller>
        <action>addMoney</action>
    </route>

    <route>
        <method>PUT</method>
        <pattern>^/api/account/confirm/(\w)+$</pattern>
        <controller>Account</controller>
        <action>confirmEmail</action>
    </route>

    <route>
        <method>GET</method>
        <pattern>^/api/account/(\d)+$</pattern>
        <controller>Account</controller>
        <action>findById</action>
    </route>

    <route>
        <method>GET</method>
        <pattern>^/api/account$</pattern>
        <controller>Account</controller>
        <action>find</action>
    </route>

    <route>
        <method>DELETE</method>
        <pattern>^/api/account/(\d)+$</pattern>
        <controller>Account</controller>
        <action>delete</action>
    </route>

    <route>
        <method>POST</method>
        <pattern>^/api/account/register$</pattern>
        <controller>Account</controller>
        <action>register</action>
    </route>

    <route>
        <method>POST</method>
        <pattern>^/api/bet$</pattern>
        <controller>Bet</controller>
        <action>makeBet</action>
    </route>

    <route>
        <method>POST</method>
        <pattern>^/api/bet/odds$</pattern>
        <controller>Bet</controller>
        <action>getOdds</action>
    </route>

    <route>
        <method>POST</method>
        <pattern>^/api/race$</pattern>
        <controller>Race</controller>
        <action>scheduleRace</action>
    </route>

    <route>
        <method>PUT</method>
        <pattern>^/api/race/start/(\d)+$</pattern>
        <controller>Race</controller>
        <action>startRace</action>
    </route>

    <route>
        <method>PUT</method>
        <pattern>^/api/race/reject/(\d)+$</pattern>
        <controller>Race</controller>
        <action>rejectRace</action>
    </route>

    <route>
        <method>PUT</method>
        <pattern>^/api/race/finish/(\d)+$</pattern>
        <controller>Race</controller>
        <action>finishRace</action>
    </route>

    <route>
        <method>PUT</method>
        <pattern>^/api/race/(\d)+$</pattern>
        <controller>Race</controller>
        <action>update</action>
    </route>

    <route>
        <method>DELETE</method>
        <pattern>^/api/race/(\d)+$</pattern>
        <controller>Race</controller>
        <action>delete</action>
    </route>

    <route>
        <method>GET</method>
        <pattern>^/api/race/(\d)+$</pattern>
        <controller>Race</controller>
        <action>find</action>
    </route>

    <route>
        <method>GET</method>
        <pattern>^/api/race$</pattern>
        <controller>Race</controller>
        <action>filter</action>
    </route>

    <route>
        <method>POST</method>
        <pattern>^/api/horse$</pattern>
        <controller>Horse</controller>
        <action>create</action>
    </route>

    <route>
        <method>PUT</method>
        <pattern>^/api/horse$</pattern>
        <controller>Horse</controller>
        <action>update</action>
    </route>

    <route>
        <method>GET</method>
        <pattern>^/api/horse/(\d)+$</pattern>
        <controller>Horse</controller>
        <action>find</action>
    </route>

    <route>
        <method>GET</method>
        <pattern>^/api/horse$</pattern>
        <controller>Horse</controller>
        <action>search</action>
    </route>

    <route>
        <method>DELETE</method>
        <pattern>^/api/horse/(\d)+$</pattern>
        <controller>Horse</controller>
        <action>delete</action>
    </route>

    <route>
        <method>POST</method>
        <pattern>^/api/jockey$</pattern>
        <controller>Jockey</controller>
        <action>create</action>
    </route>

    <route>
        <method>PUT</method>
        <pattern>^/api/jockey$</pattern>
        <controller>Jockey</controller>
        <action>update</action>
    </route>

    <route>
        <method>GET</method>
        <pattern>^/api/jockey/(\d)+$</pattern>
        <controller>Jockey</controller>
        <action>find</action>
    </route>

    <route>
        <method>GET</method>
        <pattern>^/api/jockey$</pattern>
        <controller>Jockey</controller>
        <action>search</action>
    </route>

    <route>
        <method>DELETE</method>
        <pattern>^/api/jockey/(\d)+$</pattern>
        <controller>Jockey</controller>
        <action>delete</action>
    </route>

    <route>
        <method>POST</method>
        <pattern>^/api/owner$</pattern>
        <controller>Owner</controller>
        <action>create</action>
    </route>

    <route>
        <method>PUT</method>
        <pattern>^/api/owner$</pattern>
        <controller>Owner</controller>
        <action>update</action>
    </route>

    <route>
        <method>GET</method>
        <pattern>^/api/owner/(\d)+$</pattern>
        <controller>Owner</controller>
        <action>find</action>
    </route>

    <route>
        <method>GET</method>
        <pattern>^/api/owner$</pattern>
        <controller>Owner</controller>
        <action>search</action>
    </route>

    <route>
        <method>DELETE</method>
        <pattern>^/api/owner/(\d)+$</pattern>
        <controller>Owner</controller>
        <action>delete</action>
    </route>

    <route>
        <method>POST</method>
        <pattern>^/api/racecourse$</pattern>
        <controller>Racecourse</controller>
        <action>create</action>
    </route>

    <route>
        <method>PUT</method>
        <pattern>^/api/racecourse$</pattern>
        <controller>Racecourse</controller>
        <action>update</action>
    </route>

    <route>
        <method>GET</method>
        <pattern>^/api/racecourse/(\d)+$</pattern>
        <controller>Racecourse</controller>
        <action>find</action>
    </route>

    <route>
        <method>GET</method>
        <pattern>^/api/racecourse$</pattern>
        <controller>Racecourse</controller>
        <action>search</action>
    </route>

    <route>
        <method>DELETE</method>
        <pattern>^/api/racecourse/(\d)+$</pattern>
        <controller>Racecourse</controller>
        <action>delete</action>
    </route>

    <route>
        <method>POST</method>
        <pattern>^/api/trainer$</pattern>
        <controller>Trainer</controller>
        <action>create</action>
    </route>

    <route>
        <method>PUT</method>
        <pattern>^/api/trainer$</pattern>
        <controller>Trainer</controller>
        <action>update</action>
    </route>

    <route>
        <method>GET</method>
        <pattern>^/api/trainer/(\d)+$</pattern>
        <controller>Trainer</controller>
        <action>find</action>
    </route>

    <route>
        <method>GET</method>
        <pattern>^/api/trainer$</pattern>
        <controller>Trainer</controller>
        <action>search</action>
    </route>

    <route>
        <method>DELETE</method>
        <pattern>^/api/trainer/(\d)+$</pattern>
        <controller>Trainer</controller>
        <action>delete</action>
    </route>
</routes>