<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <properties>
        <!--TODO: set dir-->
        <property name="LOG_DIR">~/Projects/Epam/Labs/CourseProject/log</property>
        <property name="PATTERN">%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</property>
    </properties>

    <appenders>
        <console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${PATTERN}"/>
        </console>

        <file name="ErrorLogFile" fileName="${LOG_DIR}/error.log" immediateFlush="true" append="true">
            <PatternLayout pattern="${PATTERN}"/>
        </file>
    </appenders>

    <loggers>
        <root level="error">
            <appenderRef ref="Console"/>
            <appenderRef ref="ErrorLogFile"/>
        </root>
    </loggers>
</configuration>